
@{
    ViewData["Title"] = "Formulario1";
}

<h1>Formulario1</h1>

<form method="post" enctype="multipart/form-data">
    <div>
        <label>Elija la imagen</label>
        <input type="file" name="imagen" />
    </div>
    <button type="submit">Guardar Imagen</button>
</form>